#skeleton-loader {
    border: 1px solid #e2e2e2;
    border-radius: 0.375rem;
    animation: loading .3s infinite alternate;
}

@keyframes loading {
    from {background-color: white;}
    to {background-color: lightgray;}
}


#pdb-link:hover {
    cursor: pointer;
    color: darkblue;
}

#paper-link:hover {
    cursor: pointer;
    color: darkblue;
}


#placeholder-pca {
    height: 350px !important;
    max-height: 350px !important;
}

#placeholder-scatter {
    height: 350px !important;
    max-height: 350px !important;
}

#placeholder-scatter-3d {
    height: 400px !important;
    max-height: 400px !important;
}

.spinner-loader {
    height: 350px !important;
    max-height: 350px !important;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}