/*
Author: Wouter Zeevat
 */
#skeleton-loader {
    border: 1px solid #e2e2e2;
    border-radius: 0.375rem;
    animation: loading .3s infinite alternate;
}

@keyframes loading {
    from {background-color: white;}
    to {background-color: lightgray;}
}

.option-icon {
    position: center; !important;
    padding-left: 1rem; !important;
    cursor: pointer;
}

.option-icon:hover {
    color: gray;
}

.scatter-2d-card {
    padding-bottom: 2rem;
}

.chain-content {
    padding: 0;
}

#protein {
    display: flex;
    justify-content: center;
    align-items: center;
}


#placeholder-pca {
    height: 350px !important;
    max-height: 350px !important;
}

#placeholder-scatter {
    height: 350px !important;
    max-height: 350px !important;
}

#placeholder-protein {
    height: 300px !important;
    max-height: 300px !important;
}

#placeholder-scatter-3d {
    height: 400px !important;
    max-height: 400px !important;
}

.spinner-loader {
    height: 350px !important;
    max-height: 350px !important;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickable {
    transition: 0.5s ease;
}

.clickable:hover {
    cursor: pointer;
    opacity: 60%;
    box-shadow: 3px 3px 5px;
}

#3d-text {
    font-weight: normal;
}

.bttns {
    display: flex;
    position: center;
    justify-content: center;
}

.bttn {
    background-color: #dfdfdf;
    color: #7a7a7a;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
    transition: ease 0.3s;
}

.bttn:hover {
    cursor: pointer;
    background-color: #4d83db;
    color: white
}