html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    background: #F0F2F4;
}

.navbar {
    z-index: 2;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    border-bottom: 1px solid lightgray;
}
.navbar-menu {
    flex-grow: 0.5;
    justify-content: center;
}
.navbar-menu .navbar-item {
    flex-grow: 1;
    justify-content: center;
}
.navbar-menu .navbar-item .control {
    width: 50%;
}

#skeleton-loader {
    border: 1px solid #e2e2e2;
    border-radius: 0.375rem;
    animation: loading .5s infinite alternate;
}

@keyframes loading {
    from {background-color: #b8b3b3;}
    to {background-color: hsl(0, 5%, 78%);}
}

#info-pdb {
    text-align: center;
}

#pdb-link:hover {
    cursor: pointer;
    color: darkblue;
}

.card-content .content {
    font-size: 14px;
    padding: 0 8rem 0 1rem;
}

.is-shady {
    animation: flyintoright .4s backwards;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin:  10px 4rem 10px 4rem;
    position: relative;
    transition: all .2s ease-in-out;
}

.features {
    padding: 2rem 0;
}

.content {
    margin: 0;
    text-align: left;
}

.stat #pdb-title {
    color: #7a7a7a;
}

.fa {
    color: dodgerblue;
    position: center;
}

.graph {
    margin: 0 1rem 0 1rem;
    padding: 0 2rem 0 0;
}

.footer {
    bottom: 0;
    width: 100vw;
    padding: 0;
    height: 80px;
    line-height: 25px;
    text-align: center;
    background: #1f2c6c;
    color: whitesmoke;
    padding-top: 2rem;
}

.footer a {
    padding: 0rem 1rem 1rem 1rem;
    color: lightgrey;
}

.footer a i {
    font-size: 1.5rem;
    padding: 0px 10px;
}

.footer a .nav-item {
    color: whitesmoke;
}