/*
Alfonso Jan
 */
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}

.has-text-black{
    color: black;
}


.form-box {
    margin-top: 1.5rem;
}

.blue-bg {
    background-color: #4d83db;
    color: #FFFFFF;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 1rem 1rem 0 0;
}

.card {
    border-radius: 1rem;
}

.card-image > .fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #209cee;
}

.flex-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-padding {
    padding: 0;
}

#pdb_code_button {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.control {
    margin-left: 3rem;
    margin-right:3rem;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.buttons-container label {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    border-radius: 0.375rem;
    width: 50%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

.buttons-container label:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}


input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.15em solid currentColor;
    border-radius: 0.375rem;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    transform: scale(0);
    border-radius: 0.375rem;
    transition: 150ms transform ease-in-out;
    box-shadow: inset 1em 1em #3e8ed0;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.file-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.file-name {
    max-width: 100%;
}

input[type="text"]::placeholder {
    color: black;
}