<!--Wouter Zeevat-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar is-inline-flex is-transparent" th:fragment="navbar">
    <div class="navbar-brand">
        <a class="navbar-item is-size-2" href="/">Peptodomics</a>
    </div>
    <div class="navbar-item is-flex-touch">
        <a class="navbar-item is-size-4" href="/">Home</a>
        <a class="navbar-item is-size-4" href="upload">Upload</a>
    </div>
</div>
<div class="footer" th:fragment="footer">
    <p>
        Project of <a href="https://nl.linkedin.com/in/tsjerkwassenaar">Tsjerk Wassenaar</a>
    </p>
</div>
</body>
</html>