<!--
author: Wouter Zeevat
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar is-inline-flex is-transparent" th:fragment="navbar">
    <div class="navbar-brand">
        <a class="navbar-item is-size-2" href="/">Peptidomics</a>
    </div>
    <div class="navbar-item is-flex-touch">
        <a class="navbar-item is-size-4" href="/">Home</a>
        <a class="navbar-item is-size-4" href="upload">Upload</a>
    </div>
</div>
<div class="footer" th:fragment="footer">
    <p>
        Project by <a href="https://nl.linkedin.com/in/jan-alfonso-b-936bb9250">John Busker</a>
        &<a href="https://nl.linkedin.com/in/wouter-zeevat-7a2050251">Wouter Zeevat</a>

           for<a href="https://nl.linkedin.com/in/tsjerkwassenaar">Tsjerk Wassenaar</a>

            <a href="https://github.com/AlfonsoJan/Peptidomics/blob/main/LICENSE">© Copyright MIT</a>
    </p>
</div>
</body>
</html>