<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">_OFFLINE_</title>
    <link rel="stylesheet" th:href="@{css/bulma.css}" href="../static/css/bulma.css"/>
</head>
<body>
<nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-2-tablet is-size-4" href="/" th:text="${brand}">_OFFLINE_BRAND_</a>
    </div>
</nav>
</body>
</html>