<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Peptodomics</title>
    <link rel="stylesheet" th:href="@{css/bulma.css}" href="../static/css/bulma.css"/>
    <link rel="stylesheet" th:href="@{css/index.css}" href="../static/css/index.css"/>
</head>
<body>
<!-- <nav class="navbar has-background-light is-flex" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-3" href="/" th:text="${brand}">_OFFLINE_BRAND_</a>
        </div>
    </nav> -->
<section class="hero is-info is-small is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-uppercase">The machinery of life consists for the largest part of proteins, <br>which are long chains of amino acids linked together</h1>
        </div>
    </div>
</section>

<div class="container main-body">
    <div class="columns pb-4">
        <div class="column is-half is-offset-one-quarter">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">Peptodomics</p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>
                            In principle, the structure, dynamics, and function of such proteins follows from the
                            individual building blocks, but this relationship is very hard to assess. It is often more favorable to
                            consider building blocks spanning several amino acids, i.e., an oligopeptide. Many such oligopeptides
                            7 are also known to have important functions by themselves, including signaling, process modulation
                            and antibacterial actions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column"></div>
        <div class="column is-four-fifths">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">Introducing a new way to see protein structure</p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>
                            Relatively little is known about the broader scope of such peptides, which
                            may be dubbed the 'peptidome'. Mapping the peptidome consists of two parts: First there are the
                            sequences to be mapped with metadata about occurrences as native oligopeptides, as part of
                            proteins, and with experimental data. Second, there are the configurational properties; the three-
                            dimensional shapes the oligopeptide can adopt, the corresponding secondary structure annotations
                            and the conformational flexibility (how and how much does it move). The latter aspect was difficult
                            to characterize, because 1. for flexible molecules analysis of the data space and data reduction by
                            means of PCA is very hard to apply and 2. the data are hard to cluster because of the amount and
                            the complexity. A solution to the latter problem was recently developed that consists in essence of a
                            combination of multidimensional scaling and multilinear regression to obtain a mapping between
                            the actual configurations and a low-dimensional abstract data space.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>
</body>
</html>