<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Upload</title>
    <link rel="stylesheet" th:href="@{css/bulma.css}" href="../static/css/bulma.css"/>
    <link rel="stylesheet" th:href="@{css/upload.css}" href="../static/css/upload.css"/>
    <link rel="stylesheet" th:href="@{css/general.css}" href="../static/css/general.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/toastr.min.js}" src="../static/js/toastr.min.js"></script>
    <link href=" https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css " rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/toastr.min.css}" href="../static/css/toastr.min.css"/>
    <link rel="icon" type="image/ico" th:href="@{../static/images/favicon.ico}">
</head>
<body>
<div class='hero is-fullheight'>
    <div th:replace="~{fragments :: navbar}"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-half is-offset-one-quarter card">
                <h3 class="title has-text-black">Upload</h3>
                <hr class="upload-hr">
                <p class="subtitle has-text-black">Please upload a .PDB file to collects oligopeptides from sequences and from (PDB) structures and stores these with metadata concerning occurrence. A 3D histogram of the XYZ coordinates of the oligopeptides. And a 3D interactive plot of the protein structure.</p>
                <p>Select your PDB file input option</p>
                <div class="buttons-container" id="buttons-container">
                    <label class="form-control" style="margin-top: 1rem;">
                        <input type="radio" name="radio" id="upload-input" onchange="getInputType(this)" value="1"/>
                        Upload file
                    </label>
                    <label class="form-control" style="margin-top: 1rem;">
                        <input type="radio" name="radio" id="pdb-input" onchange="getInputType(this)" value="2"/>
                        PDB code
                    </label>
                </div>
                <div class="form-box">
                    <form th:action="@{result_from_code}" method="POST" id="pdb-input-form">
                        <div th:replace="~{fragments :: paramSelector(paramID='paramCode', compareID='compareCode')}"></div>
                        <div class="field">
                            <label class="label">PDB Code</label>
                            <div class="control">
                                <input id="input-pdb" class="input" type="text" name="pdb_code" placeholder="Type your PDB code" maxlength="4" minlength="4">
                            </div>
                        </div>
                        <button type="submit" class="button is-block is-info is-large is-fullwidth" id="pdb_code_button">Proceed</button>
                    </form>
                    <form th:action="@{result_from_files}" method="POST" enctype="multipart/form-data" id="file-upload-form">
                        <div th:replace="~{fragments :: paramSelector(paramID='paramFile', compareID='compareFile')}"></div>
                        <div class="field is-fullwidth" id="upload-file">
                            <label class="file-label">
                                <input id="file-upload" class="file-input" type="file" name="pdb_file" accept=".pdb" onchange="getFileName(this)">
                                <span class="file-cta">
                                        <span class="file-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                                <path d="M7 9l5 -5l5 5"></path>
                                                <path d="M12 4l0 12"></path>
                                            </svg>
                                        </span>
                                        <span class="file-label">Choose a file…</span>
                                    </span>
                                <span class="file-name" id="file-name"></span>
                            </label>
                        </div>
                        <button type="submit" class="button is-block is-info is-large is-fullwidth" id="pdb_file_button">Proceed</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments :: footer}"></div>
</div>
<script type="text/javascript" src="../static/js/upload.js" th:src="@{js/upload.js}"></script>
</body>
</html>