<!--
author: Jan Alfonso Busker
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Upload</title>
    <link rel="stylesheet" th:href="@{css/bulma.css}" href="../static/css/bulma.css"/>
    <link rel="stylesheet" th:href="@{css/upload.css}" href="../static/css/upload.css"/>
    <link rel="stylesheet" th:href="@{css/general.css}" href="../static/css/general.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/toastr.min.js}" src="../static/js/toastr.min.js"></script>
    <link href=" https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css " rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/toastr.min.css}" href="../static/css/toastr.min.css"/>
    <link rel="icon" type="image/ico" th:href="@{../static/images/favicon.ico}">
</head>
<body>
<div class='hero is-fullheight'>
    <div th:replace="~{fragments :: navbar}"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="no-padding column is-half is-offset-one-quarter card">
                <h3 class="title blue-bg">Upload</h3>
                <p class="subtitle has-text-black">Upload PDB file or choose code!</p>
                <div class="form-box">
                    <form th:action="@{result_from_code}" method="POST" id="pdb-input-form" enctype="multipart/form-data">
                        <div class="field pt-1">

                            <div class="field">
                                <label class="label">Oligo Length</label>
                                <div class="control">
                                    <input id="oligo-param" class="input" type="number" name="oligo-param" min="1">
                                </div>
                            </div>

                            <div class="field is-centered">
                                <label class="label" id="file-text">File from your system</label>
                                <div class="field-body flex-class">
                                    <div class="file has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="pdb-file" onchange="getFileName(this)" accept=".pdb">
                                            <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">Choose a file</span>
                                            </span>
                                            <span id="file-selected">
                                                none
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">or use PDB code</label>
                            <div class="control">
                                <input id="input-pdb" class="input" type="text" name="pdb_code" placeholder="Type your PDB code" maxlength="4" minlength="4">
                            </div>
                        </div>
                        <button type="submit" class="button is-info is-large" id="pdb_code_button">Proceed</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments :: footer}"></div>
</div>
<script type="text/javascript" src="../static/js/upload.js" th:src="@{js/upload.js}"></script>
</body>
</html>