<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Upload</title>
    <link rel="stylesheet" th:href="@{css/bulma.css}" href="../static/css/bulma.css"/>
    <link rel="stylesheet" th:href="@{css/upload.css}" href="../static/css/upload.css"/>
</head>
<body>
<div class='hero is-fullheight'>
    <div class="navbar is-inline-flex has-background-white">
        <div class="navbar-brand">
            <a class="navbar-item is-size-2" href="/">Peptodomics</a>
        </div>
        <div class="navbar-item is-flex-touch">
            <a class="navbar-item is-size-4" href="/">Home</a>
            <a class="navbar-item is-size-4" href="upload">Upload</a>
        </div>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="title has-text-black">Upload</h3>
                <hr class="upload-hr">
                <p class="subtitle has-text-black">Please upload a file to proceed.</p>
                <div class="box">
                    <form>
                        <div class="field is-fullwidth" id="upload-file">
                            <label class="file-label">
                                <input class="file-input" type="file" name="pdb_file" accept=".pdb" multiple id="file-input" required>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                            <path d="M7 9l5 -5l5 5"></path>
                                            <path d="M12 4l0 12"></path>
                                        </svg>
                                    </span>
                                    <span class="file-label">Choose a file…</span>
                                </span>
                                <span class="file-name" id="file-name">SR3498598435.pdb</span>
                            </label>
                        </div>
                        <button type="submit" class="button is-block is-info is-large is-fullwidth">Proceed</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            Project of <a href="https://nl.linkedin.com/in/tsjerkwassenaar">Tsjerk Wassenaar</a>
        </p>
    </div>
</div>
<script type="text/javascript" src="../static/js/upload.js" th:src="@{js/upload.js}"></script>
</body>
</html>